body {
	background:gray;
	margin:0;
}

div {
	
	box-sizing: border-box;
}

header {
	background:white;
	padding:10px;
}

.post {
	background-color:white;
	margin-top:10px;
}

.container {
	width: 600px;
	margin: auto;
}

.post img {
	width:100%;
}

.post h2, p {
	padding:10px;
	margin:0;
}
div.post .post-header div:first-child {
	display:inline-block;
	width:80%;
}

div.post .post-header div:last-child {
	display:inline-block;
	width:20%;
	text-align:right;
	padding:10px;
	color:gray;
}